

/* Convore Min-Width Userstyle                     */
/*                                                 */
/* author: Adam Brault | http://andyet.net         */
/* author: Eric Zanol  | http://ericzanol.com      */
/* license: MIT License                            */
/*                                                 */
/* We'd love to see @etmaguire add official CSS    */
/* of something like this to the Convore site. :D  */


@media screen and (max-width: 450px) {

	body * {
	  float: none !important;
	  width: auto !important;
	}

	body {
	  min-width: 300px !important;
	}

	#stripe {
	  z-index: 9999 !important;
	  top: 0 !important;
	  position: z-index !important;
	  width: 100% !important;
	}

	#header #logo a {
	  width: 24px !important;
	  left: 15px !important;
	}

	#message-list, 
	#group-list .gen-list {
	  padding: 0px !important;
	}

	#main {
	  width: 100% !important;
	}

	#footer {
	  width: 100% !important;
	  min-height: 50px !important;
	}

	#mentions .left,
	#mentions #post-as-new-topic,
	#mentions .you-say,
	#topic-detail.group .left,
	.copyright,
	#topic-detail.group #post-as-new-topic,
	#topic-detail.group .you-say {
	  display: none !important;
	}

	#topic-detail.group .topic-title {
	  position: absolute !important;
	  top: 0 !important;
	  z-index: 1000 !important;
	}

	#main .header-title {
		z-index: 1000 !important;
		background: none !important;
		border: 0 !important;
	}

	#main .header-title h2 {
		position: fixed !important;
		top: 13px !important;
		color: #fff !important;
		left: 50px !important;
		text-shadow: #000 0 0 5px !important;
	}

	#topic-detail.group .topic-title h2 {
	  width: auto !important;
	}

	.header-content {
	  width: 100% !mportant;
	}

	#mentions .message .user img, 
	#topic-detail.group .message .user img {
	  position: absolute !important;
	}

	#mentions .embedded-images li img, 
	#topic-detail.group .embedded-images li img {
	  margin: 10px 30px !important;
	}

	#mentions #topic-detail-topic,
	#mentions .header-title, 
	#topic-detail.group #topic-detail-topic,
	#topic-detail.group .header-title {
	  border-top: 0px !important;
	}

	#header {
	  top: 4px !important;
	  z-index: 100 !important;
	}

	#mentions .topic-title, 
	#topic-detail.group .topic-title {
	  padding: 0 !important;
	  margin: 0 !important;
	  left: 40px !important;
	  top: 10px !important;
	  border: 0 none !important;
	  width: 250px !important;
	  z-index: 99999 !important;
	  background: transparent !important;
	  border: 0px none transparent !important;
	  height: auto !important;
	}

	#mentions .topic-title h2, 
	#topic-detail.group .topic-title h2 {
	  text-shadow: #000 0 0 5px;
	  color: white !important;
	  font-size: 16px !important;
	  border: 0 none !important;
	  z-index: 99999 !important;
	  background: transparent !important;
	  border: 0px none !important;
	}

	#mentions #id-message, 
	#topic-detail.group #id-message {
	  width: 95% !important
	}

	#mentions #post-message span, 
	#topic-detail.group #post-message span {
	  position: absolute !important;
	  display: none !important;
	}

	#mentions #topic-detail-topic.topic-title, 
	#topic-detail.group #topic-detail-topic.topic-title {
	  position: fixed !important;
	  background: transparent !important;
	  height: 30px !important;
	  z-index: 200 !important;
	  padding: 6px 9px 6px !important;
	  width: 100% !important;
	}

	.global-unread-count {
		top: 4px !important;
		right: 78px !important;
	}

	#mention-count {
		top: 0 !important;
		right: 78px !important;
		left: auto !important;
		padding: 0 3px 1px !important;
	}

	#header .header-content {
	  width: auto !important;
	}

	#mentions .message .user, 
	#topic-detail.group .message .user {
	  float: left !important;
	  margin: 1px 5px 0 0 !important;
	}

	#mentions .topic-title .new-topic, 
	#topic-detail.group .topic-title .new-topic, 
	#mentions .btn, 
	#topic-detail.group .btn,
	#mentions #topic-detail-topic .thumb, 
	#topic-detail.group #topic-detail-topic .thumb, 
	#mentions .pad,
	#topic-detail.group .pad,
	#global-search, 
	#mentions .settings-login-menu, 
	#topic-detail.group .settings-login-menu,
	#mentions .gray-btns, 
	#topic-detail.group .gray-btns, 
	#group-list #sidebar, 
	div.cl {
	  display: none !important;
	}

	

	/**** display star, reply, delete icons on message hover ****/
	.message .message-entry {
		padding-right: 6px !important;
		line-height: 1.5em !important;
	}

	li.message:hover a.star-message.starred, 
	li.message:hover a.star-message, 
	li.message:hover a.reply-message {
		display: block !important;
	}

	li.message .star a, 
	li.message:hover .star a, 
	li.message:hover .reply a, 
	li.message:hover .star a.starred {
		width: 16px !important;
		max-width: 16px !important;
	}
	
	li.message a.starred {
		position: relative !important;
		float: left !important;
		display: inline-block !important;
		min-width: 16px !important;
	}

	li.message:hover a.self-starred {
		background-position: top left !important;
	}

	li.message:hover a.self-starred:hover {
		background-position: bottom left !important;
	}

	li.message .star .users-starred {
		/* width: 180px !important; */
		max-width: 180px !important;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		display: block !important;
		float: left !important;
		bottom: 15px !important;
		left: 18px !important;
		position: relative !important;
	}

	li.message .star,
	li.message:hover .star, 
	li.message:hover .reply {
		display: block !important;
		position: relative !important;		
	}

	li.message:hover .delete-message {
		display: block !important;
		right: 0 !important;
		min-width: 16px !important;
	}

	li.message .star, 
	li.message:hover .star {
		bottom: 14px !important;
		left: 170px !important;
	}

	#mentions li.message .star {
		display: inline-block !important;
		margin-left: -3px !important;
	}

	#mentions li.message:hover .star {
		display: none !important;
		/*bottom: 0 !important;
		right: 0 !important;
		left: auto !important;
		float: right !important;
		min-width: 16px !important;
		min-height: 16px !important;*/
	}

	li.message:hover .users-starred {
		display: none !important;
	}

	li.message:hover .reply {
		bottom: 28px !important;
		left: 188px !important;
	}

	li.message div.meta {
		max-height: 17px !important;
	}
	/**** end display icons ****/


	/**** displaying groups and mention menu ****/
	#main-menu {
		display: block !important;
		float: left !important;
		position: fixed !important;
		right: 5px !important;
		left: auto !important;
		top: 7px !important;
	}

	#main-menu li:first-child,
	#main-menu li:nth-child(3n),
	#main-menu li:last-child {
		display: none !important;
	}

	#main-menu li ul li:first-child,
	#main-menu li ul li:nth-child(3n),
	#main-menu li ul li:last-child {
		display: list-item !important;
	}

	.topic-title h2,
	.header-title h2 {
		max-width: 80% !important;
		text-overflow: ellipsis !important;
		white-space: nowrap !important;
		overflow: hidden !important;
	}

	#main-menu li:nth-child(2n) {
		top: 22px !important;
	}

	#main-menu li:nth-child(4n) {
		top: -17px !important;
	}

	#main-menu li ul li:nth-child(n) {
		top: auto !important;
	}

	#main-menu li a.dropdown {
		margin-bottom: 0 !important;
		display: block !important;
	}

	#topic-detail-topic.topic-title {
		pointer-events: none !important;
	}

	#main-menu li .dropdown-list {
		left: auto !important;
		right: 0 !important;
		width: 200px !important;
		-webkit-border-radius: 5px 0 5px 5px !important;
	}
	/**** end groups and mentions menus ****/


	/**** users online ****/
	#topic-detail.group #header {
		height: 45px !important;
	}

	#topic-detail.group #top-content, 
	#topic-detail.group #sidebar .box:first-child .title {
		display: none !important;
	}

	#topic-detail.group #sidebar {
		margin-top: -5px !important;
		min-width: 100% !important;
	}

	#topic-detail.group #sidebar .box:first-child .pad {
		display: block !important;
		position: relative !important;
		z-index: 1 !important;
		background: rgba(50,50,50,.35) !important;
		padding: 0 0 3px !important;
	}

	#topic-detail.group #sidebar .box:first-child .pad ul.userpics {
		padding: 6px 12px 3px !important;
		background: #fcfcfc !important;
		border-bottom: 1px solid #999 !important;
		float: left !important;
		min-width: 100% !important;
	}

	#topic-detail.group #sidebar .box:first-child .pad ul.userpics li {
		float: left !important;
	}
	/**** end users online ****/


	/**** mentions specific ****/
	#message-list a.message-link {
		float: right !important;
		line-height: 10px !important;
		margin-left: 4px !important;
	}
	/**** end mentions specific ****/


	/**** 'your groups' page ****/
	#group-list #wrap {
		position: relative !important;
		top: 40px !important;
	}

	#group-list #main {
		min-height: 100px !important;
	}
	
	#group-list .header-title .new-topic {
		top: -31px !important;
		right: auto !important;
		left: 12px !important;
		color: rgba(75,75,75,0.85) !important;
		text-shadow: 0 1px 0 #d8d8d8 !important;
		border-left: 1px solid rgba(75,75,75,0.1) !important;
		border-right: 1px solid rgba(75,75,75,0.1) !important;
		}

	#group-list .header-title .new-topic:hover, 
	#group-list .topic-title h3 a:hover {
		color: #008abd !important;
	} 

	#group-list .group-info div {
		float: left !important;
	}

	#group-list .thumb {
		float: left !important;
	}

	#group-list li.topic-title .meta {
		display: block !important;
		padding-top: 10px !important;
		padding-bottom: 7px !important;
		clear: both !important;
	}

	#group-list .mark-item .gray-btns {
		-webkit-box-shadow: none !important;
		padding: 2px 7px 1px !important;
		margin-left: 4px !important;
	}
	/**** end 'your groups' page stuff ***/


	/**** group home page ****/
	#group-detail.group #sidebar {
		display: none !important;
	}

	#group-detail.group #top-content {
		position: relative !important;
	}

	#group-detail.group #top-content .box {
		margin-bottom: 0 !important;
	}

	#group-detail.group #main {
		padding-top: 40px !important;
		margin-top: 0 !important;
		min-height: 100px !important;
	}

	#group-detail.group #main .header-title {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	#group-detail.group .topic-title {
		padding-bottom: 10px !important;
	}

	#group-detail.group .topic-title h3 {
		margin-top: 6px !important;
	}

	#group-detail.group .topic-info div {
		float: left !important;
	}

	#group-detail.group .header-title .new-topic {
		top: -32px !important;
		right: auto !important;
		left: 12px !important;
		position: absolute !important;
		z-index: 9999 !important;
		display: block !important;
	}

	#group-detail.group .header-title .new-topic:hover, 
	#group-detail.group .topic-title h3 a:hover {
		color: #008abd !important;
	} 

	#group-detail.group .pad h2 a {
		display: block !important;
		float: left !important;
		margin-right: 10px !important;
	}

	#group-detail.group .pad h2 span {
		display: block !important;
		line-height: 10px !important;
		height: 21px !important;
		max-height: 21px !important;
		text-overflow: ellipsis !important;
	}

	#group-detail.group .pad h2 span.private {
		float: left !important;
		min-width: 16px !important;
	}

	#group-detail.group .pad a.gray-btns {
		position: absolute !important;
		top: 47px !important;
	}

	#group-detail.group .pad a.is-hovering {
		color: #eee !important;
		text-shadow: 0 1px 0 #333 !important;
	}

	#group-detail.group .mark-item .gray-btns {
		-webkit-box-shadow: none !important;
		padding: 2px 7px 1px !important;
		margin-left: 4px !important;
	}

	#group-detail.group .mark-item input[value="Mark read"].gray-btns {
		position: absolute !important;
		top: 19px !important;
		right: 130px !important;
	}

	#group-detail.group #group-actions {
		padding-top: 30px !important;
		top: 44px !important;
	}

	#group-detail.group #group-actions a, 
	#group-detail.group #group-actions form input {
		text-align: right !important;
	}
/**** end group home page ****/



/**** experimental universal stuff ****/
	.gray-btns {
		color: rgba(75,75,75,0.85) !important;
		text-shadow: 0 1px 0 #d8d8d8 !important;
		border-left: 1px solid rgba(75,75,75,0.1) !important;
		border-right: 1px solid rgba(75,75,75,0.1) !important;
	}

	.gray-btns:hover, .is-hovering:hover {
		color: #008abd !important;
	}

	#footer .left {
		margin-bottom: 5px !important;
		margin-left: 10px !important;
	}

	#footer .left ul li {
		float: left !important;
		padding-bottom: 20px !important;
	}

	#footer .right {
		text-align: left !important;
		margin-top: 0 !important;
		margin-left: 10px !important;
	}
/**** end experimental universal stuff ****/

}