

/* Convore Min-Width Userstyle                     */
/*                                                 */
/* author: Adam Brault | http://andyet.net         */
/* author: Eric Zanol  | http://ericzanol.com      */
/* license: MIT License                            */
/*                                                 */
/* We'd love to see @etmaguire add official CSS    */
/* of something like this to the Convore site. :D  */


@media screen and (max-width: 450px) {

	#mentions *, #topic-detail.group * {
	  float: none !important;
	  width: auto !important;
	}

	#mentions, #topic-detail.group {
	  min-width: 300px !important;
	}

	#mentions #stripe, #topic-detail.group #stripe {
	  z-index: 9999 !important;
	  top: 0 !important;
	  position: z-index !important;
	  width: 100% !important;
	}

	#mentions #header #logo a, #topic-detail.group #header #logo a {
	  width: 24px !important;
	  left: 15px !important;
	}

	#mentions #message-list, #topic-detail.group #message-list {
	  padding: 0px !important;
	}

	#mentions #main, #topic-detail.group #main {
	  width: 100% !important;
	}

	#mentions #footer, #topic-detail.group #footer {
	  width: 100% !important;
	  min-height: 50px !important;
	}

	#mentions .left,
	#mentions #post-as-new-topic,
	#mentions .you-say,
	#topic-detail.group .left,
	.copyright,
	#topic-detail.group #post-as-new-topic,
	#topic-detail.group .you-say {
	  display: none !important;
	}

	#topic-detail.group .topic-title {
	  position: absolute !important;
	  top: 0 !important;
	  z-index: 1000 !important;
	}

	#mentions #main .header-title {
		z-index: 1000 !important;
		background: none !important;
		border: 0 !important;
	}

	#mentions #main .header-title h2 {
		position: fixed !important;
		top: 13px !important;
		color: #fff !important;
		left: 50px !important;
		text-shadow: #000 0 0 5px !important;
	}

	#topic-detail.group .topic-title h2 {
	  width: auto !important;
	}

	#mentions .header-content, #topic-detail.group .header-content {
	  width: 100% !mportant;
	}

	#mentions .message .user img, #topic-detail.group .message .user img {
	  position: absolute !important;
	}

	#mentions .embedded-images li img, #topic-detail.group .embedded-images li img {
	  margin: 10px 30px !important;
	}

	#mentions #topic-detail-topic,
	#mentions .header-title, 
	#topic-detail.group #topic-detail-topic,
	#topic-detail.group .header-title {
	  border-top: 0px !important;
	}

	#mentions #header, #topic-detail.group #header {
	  top: 4px !important;
	  z-index: 100 !important;
	}

	#mentions .topic-title, #topic-detail.group .topic-title {
	  padding: 0 !important;
	  margin: 0 !important;
	  left: 40px !important;
	  top: 10px !important;
	  border: 0 none !important;
	  width: 250px !important;
	  z-index: 99999 !important;
	  background: transparent !important;
	  border: 0px none transparent !important;
	  height: auto !important;
	}

	#mentions .topic-title h2, #topic-detail.group .topic-title h2 {
	  text-shadow: #000 0 0 5px;
	  color: white !important;
	  font-size: 16px !important;
	  border: 0 none !important;
	  z-index: 99999 !important;
	  background: transparent !important;
	  border: 0px none !important;
	}


	#mentions .topic-title .new-topic, #topic-detail.group .topic-title .new-topic {
		display: none !important;
	}

	#mentions #id-message, #topic-detail.group #id-message {
	  width: 95% !important
	}

	#mentions #post-message span, #topic-detail.group #post-message span {
	  position: absolute !important;
	  display: none !important;
	}

	#mentions .btn, #topic-detail.group .btn {
	  display: none !important;
	}

	#mentions #topic-detail-topic.topic-title, #topic-detail.group #topic-detail-topic.topic-title {
	  position: fixed !important;
	  background: transparent !important;
	  height: 30px !important;
	  z-index: 200 !important;
	  padding: 6px 9px 6px !important;
	  width: 100% !important;
	}

	#mentions #topic-detail-topic .thumb, #topic-detail.group #topic-detail-topic .thumb {
	  display: none !important;
	}

	#mentions .pad,
	#topic-detail.group .pad,
	#global-search {
	  display: none !important;
	}

	.global-unread-count {
		top: 4px !important;
		right: 78px !important;
	}

	#mention-count {
		top: 0 !important;
		right: 78px !important;
		left: auto !important;
		padding: 0 3px 1px !important;
	}

	#mentions #header .header-content, #topic-detail.group #header .header-content {
	  width: auto !important;
	}

	#mentions #main-menu, #topic-detail.group #main-menu {
	  display: none !important;
	}

	#mentions .settings-login-menu, #topic-detail.group .settings-login-menu {
	  display: none !important;
	}

	#mentions .gray-btns, #topic-detail.group .gray-btns {
	  display: none !important;
	}

	#mentions .message .user, #topic-detail.group .message .user {
	  float: left !important;
	  margin: 1px 5px 0 0 !important;
	}

	
	/**** display star, reply, delete icons on message hover ****/
	.message .message-entry {
		padding-right: 6px !important;
		line-height: 1.5em !important;
	}

	li.message:hover a.star-message.starred, 
	li.message:hover a.star-message, 
	li.message:hover a.reply-message {
		display: block !important;
	}

	li.message .star a, 
	li.message:hover .star a, 
	li.message:hover .reply a, 
	li.message:hover .star a.starred {
		width: 16px !important;
		max-width: 16px !important;
	}
	
	li.message a.starred {
		position: relative !important;
		float: left !important;
		display: inline-block !important;
		min-width: 16px !important;
	}

	li.message:hover a.self-starred {
		background-position: top left !important;
	}

	li.message:hover a.self-starred:hover {
		background-position: bottom left !important;
	}

	li.message .star .users-starred {
		width: 180px !important;
		max-width: 180px !important;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		display: block !important;
		float: left !important;
		bottom: 15px !important;
		left: 18px !important;
		position: relative !important;
	}

	li.message .star,
	li.message:hover .star, 
	li.message:hover .reply {
		display: block !important;
		position: relative !important;		
	}

	li.message:hover .delete-message {
		display: block !important;
		right: 0 !important;
		min-width: 16px !important;
	}

	li.message .star, 
	li.message:hover .star {
		bottom: 14px !important;
		left: 170px !important;
	}

#mentions li.message .star {
display: inline-block !important;
margin-left: -3px !important;
}

	#mentions li.message:hover .star {
		display: none !important;
		/* see issue #5 comments for explanation. ***
		bottom: 0 !important;
		right: 0 !important;
		left: auto !important;
		float: right !important;
		min-width: 16px !important;
		min-height: 16px !important; */
	}

	li.message:hover .users-starred {
		display: none !important;
	}

	li.message:hover .reply {
		bottom: 28px !important;
		left: 188px !important;
	}

	li.message div.meta {
		max-height: 17px !important;
	}
	/**** end display icons ****/

	/**** displaying groups and mention menu ****/
	#mentions #main-menu, #topic-detail.group #main-menu {
		display: block !important;
		float: left !important;
		position: fixed !important;
		right: 5px !important;
		left: auto !important;
		top: 7px !important;
	}

	#mentions #main-menu li:first-child,
	#mentions #main-menu li:nth-child(3n),
	#mentions #main-menu li:last-child,
	#topic-detail.group #main-menu li:first-child,
	#topic-detail.group #main-menu li:nth-child(3n), 
	#topic-detail.group #main-menu li:last-child {
		display: none !important;
	}

	#mentions #main-menu li ul li:first-child,
	#mentions #main-menu li ul li:nth-child(3n),
	#mentions #main-menu li ul li:last-child,
	#topic-detail.group #main-menu li ul li:first-child,
	#topic-detail.group #main-menu li ul li:nth-child(3n),
	#topic-detail.group #main-menu li ul li:last-child {
		display: list-item !important;
	}

	#mentions .topic-title h2, 
	#topic-detail.group .topic-title h2 {
		max-width: 80% !important;
		text-overflow: ellipsis !important;
		white-space: nowrap !important;
		overflow: hidden !important;
	}

	#mentions #main-menu li:nth-child(2n), 
	#topic-detail.group #main-menu li:nth-child(2n) {
		top: 22px !important;
	}

	#mentions #main-menu li:nth-child(4n), 
	#topic-detail.group #main-menu li:nth-child(4n) {
		top: -17px !important;
	}

	#mentions #main-menu li ul li:nth-child(n), 
	#topic-detail.group #main-menu li ul li:nth-child(n) {
		top: auto !important;
	}

	#mentions #main-menu li a.dropdown, 
	#topic-detail.group #main-menu li a.dropdown {
		margin-bottom: 0 !important;
		display: block !important;
	}

	#mentions #topic-detail-topic.topic-title, 
	#topic-detail.group #topic-detail-topic.topic-title {
		pointer-events: none !important;
	}

	#main-menu li .dropdown-list {
		left: auto !important;
		right: 0 !important;
		width: 200px !important;
		-webkit-border-radius: 5px 0 5px 5px !important;
	}
	/**** end groups and mentions menus ****/

	/**** users online ****/
	#topic-detail.group #header {
		height: 45px !important;
	}

	#topic-detail.group #top-content, 
	#topic-detail.group #sidebar .box:first-child .title {
		display: none !important;
	}

	#topic-detail.group #sidebar {
		margin-top: -5px !important;
		min-width: 100% !important;
	}

	#topic-detail.group #sidebar .box:first-child .pad {
		display: block !important;
		position: relative !important;
		z-index: 1 !important;
		background: rgba(50,50,50,.35) !important;
		padding: 0 0 3px !important;
	}

	#topic-detail.group #sidebar .box:first-child .pad ul.userpics {
		padding: 6px 12px 3px !important;
		background: #fcfcfc !important;
		border-bottom: 1px solid #999 !important;
		float: left !important;
		min-width: 100% !important;
	}

	#topic-detail.group #sidebar .box:first-child .pad ul.userpics li {
		float: left !important;
	}
	/**** end users online ****/

	/**** mentions specific ****/
	#message-list a.message-link {
		float: right !important;
		line-height: 10px !important;
		margin-left: 4px !important;
	}
	/**** end mentions specific ****/

}